body{
    background-color: black;
}
h2{
    align-items: flex;
    color: greenyellow;
    margin: 200px;
    padding-left: 50px;
}
p{
     align-items: flex;
    color: greenyellow;
    margin: 150px;
    padding-left: 50px;
    padding-top: -150px;
    text-shadow: 30px;
    font-size: large;
}
#p2{
    color: red;
    font-size: x-large;
    padding-top: -50px;
    margin-top: -150px;
}